@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#root {
  height: 100%;
}

/* Game */
.game {
  font-family: 'Roboto', sans-serif;
  max-width: 768px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  padding: 1rem 2rem;

  display: grid;
  grid-gap: 1rem;
}

@media screen and (min-width: 576px) {
  .game {
    grid-template-columns: 3fr 2fr;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .game {
    grid-template-columns: 1fr 1fr;
  }
}

.game__section {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Board */
.board {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Square */
.square {
  --size: 20vw;
  --font-size: 1rem;

  width: var(--size);
  height: var(--size);
  font-size: var(--font-size);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.25s ease-in-out;

  outline: none;
}

.square:hover {
  background-color: #f1f1f1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (min-width: 452px) {
  .square {
    --size: 15vw;
    --font-size: 1.5rem;
  }
}

@media screen and (min-width: 682px) {
  .square {
    --size: 10vw;
    --font-size: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .square {
    --size: 5vw;
    --font-size: 2rem;
  }
}

/* History */
.history {
  width: 100%;
}

.history__item + .history__item {
  margin-top: 0.5rem;
}

/* Status */
.status {
  padding-bottom: 1rem;
}

/* Button */
.button {
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.25s ease-in-out;
}

.button--is-active,
.button:hover {
  background-color: #f1f1f1;
}

.button--is-block {
  width: 100%;
}